@keyframes giftPopup{

    0%{

        opacity:0;

        transform:translate(-50%,40px);

    }

    15%{

        opacity:1;

        transform:translate(-50%,0);

    }

    85%{

        opacity:1;

    }

    100%{

        opacity:0;

        transform:translate(-50%,-40px);

    }

}

@keyframes leaderPulse{

    from{

        transform:scale(1);

    }

    to{

        transform:scale(1.03);

    }

}