@keyframes giftPopup{

    0%{

        opacity:0;

        transform:translate(-50%,40px);

    }

    15%{

        opacity:1;

        transform:translate(-50%,0);

    }

    85%{

        opacity:1;

    }

    100%{

        opacity:0;

        transform:translate(-50%,-40px);

    }

}

@keyframes leaderPulse{

    from{

        transform:scale(1);

    }

    to{

        transform:scale(1.03);

    }

}

/* ===========================
   Notificación regalo
=========================== */

.giftPopup{

    animation:giftPopup 3s forwards;

}

/* ===========================
   País líder
=========================== */

.countryLeader{

    animation:leaderPulse .8s ease-in-out infinite alternate;

}

/* ===========================
   País que recibió regalo
=========================== */

.countryPop{

    animation:pop .35s ease;

}

/* ===========================
   País ganador
=========================== */

.countryWinner{

    animation:winnerFlash .5s linear infinite;

}