#app{

    width:100%;
    height:100%;

    padding:40px;

}

#topBar{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    margin-bottom:40px;

}

#content{

    display:grid;

    grid-template-columns:1fr 320px;

    gap:40px;

    align-items:start;

}

#gamePanel{

    display:flex;

    flex-direction:column;

    align-items:center;

}

#rankingPanel{

    width:100%;

}