/*====================================
    APP
====================================*/

#app{

    width:720px;

    margin:25px;

    display:flex;

    flex-direction:column;

    gap:18px;

}

/*====================================
    HEADER
====================================*/

#header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

#titleArea h1{

    font-size:34px;

    color:rgb(19, 18, 18);

    font-weight:800;

}

#titleArea span{

    color:#757575;

    font-size:16px;

}

#goalCard{

    background:#1d1d1d;

    padding:12px 20px;

    border-radius:16px;

    font-size:18px;

    font-weight:bold;

}

/*====================================
    CUERPO
====================================*/

#mainLayout{

    display:grid;

    grid-template-columns:500px 200px;

    gap:18px;

    align-items:start;

}

/*====================================
    PAISES
====================================*/

#countriesGrid{

    display:flex;

    flex-direction:column;

    gap:12px;

}

/*====================================
    TOP FANS
====================================*/

#rankingPanel{

    background:rgba(20,20,20,.80);

    border-radius:18px;

    padding:15px;

}

#rankingPanel h2{

    font-size:24px;

    margin-bottom:15px;

}

#rankingList{

    list-style:none;

    padding:0;

}

#rankingList li{

    display:flex;

    justify-content:space-between;

    margin-bottom:12px;

    font-size:18px;

}

/*====================================
    NOTIFICACION
====================================*/

#giftNotification{

    background:rgba(20,20,20,.80);

    border-radius:18px;

    padding:14px;

    text-align:center;

    font-size:20px;

}